<?xml version="1.0" encoding="UTF-8"?>

    <manifest package="com.example.zivug" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application android:theme="@style/AppTheme" android:supportsRtl="true" android:roundIcon="@mipmap/ic_launcher_round" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:allowBackup="true">

        <service android:name=".ChatNotification"/>

    <activity android:name="com.example.zivug.Activities.MainActivity" android:windowSoftInputMode="adjustPan">


    <intent-filter>

    <action android:name="android.intent.action.MAIN"/>

    <category android:name="android.intent.category.LAUNCHER"/>

</intent-filter>

</activity>

    <activity android:name="com.example.zivug.Activities.FindHerActivity" android:windowSoftInputMode="adjustResize" />

    <activity android:name="com.example.zivug.Activities.AuthentificationActivity"/>

    <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" android:theme="@style/Base.Theme.AppCompat"/>
        <activity android:name=".Activities.ActivitySplash"/>

</application>


</manifest>